.fz-container {
    margin: 0 1%;
    max-width: 98%;
}

img {
    border: none
}

.pl10 {
    padding-left:10px;
}

.mt10 {
    margin-top:10px;
}

.table th, .table td {
    vertical-align: middle !important;
}

.toggle, .table th:hover {
    cursor: pointer;
}

.bugCount {
    margin: 0 0 5px
}

.toggleNav {
    margin-top: -5px !important;
}

.legend {
    margin: 0 10px;
    padding: 5px 0;
    display:none;
}

#quickList {
    text-align: right;
}

div.row-fluid div.center.chuck {
    float: none;
    margin: 0 auto;
    text-align: center;
}

#dStatus .red, .red {
    color: red;
}

#dStatus .green, .green {
    color: green;
}

.chuck {
    z-index: -1;
}

.timeSpan {
    position: absolute;
    margin-top: -16px;
}

.timeWidth {
    overflow: visible;
    background-image: none;
    background-color: red;
    height: 3px;
    margin-top: 14px;
}

.chartContainer {
    min-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}

.loading {
    display: none;
    position: relative;
    top: -250px;
    left: 50%;
    width: 50px;
}

textarea.input-xxxlarge {
    width: 95%;
    height: 250px;
}

.border-right {
    border-right: 1px solid grey;
}

.kanban h4, .kanban h5 {
    margin: 10px 0;
}

.kanban .pin .label {
    padding: 2px 3px;
    display: block;
}

.label .tooltip {
    white-space: normal;
}

.kanban div.pin {
    background-color: #F5F5F5;
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    float: left;
    font-size: 11px;
    height: 90px;
    margin: 5px;
    width: 90px;
    position: relative;
    line-height: 16px;
}

.kanban div.pin div.pin-top, .kanban div.pin div.pin-bottom {
    width: 100%;
    line-height: 13px;
    height: 13px;
    padding: 0 0 3px 0;
}

.kanban div.pin div.pin-bottom {
    position: absolute;
    bottom: 2px;
}

.kanban div.description {
    height: 50px;
    margin: 0 2px;
    overflow: hidden;
    width: 100%;
}

.kanban .theme a {
    color: white;
}

.kanban div.description a {
    color: black;
}

.large-number-gray {
    font-size: 40px;
    bottom: 30px;
    position: absolute;
    color: #666;
    text-align: center;
    cursor: pointer;
}

.relative-box {
    position: relative;
    height: 75px;
    text-align: center;
}

.member-background {
    background-color: white;
    margin: 10px;
    width: 1040px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.member-background p {
    padding: 0 10px;
}

.member-layer {
    height: 110px;
    padding: 5px;
    width: 160px;
}

.member-layer h5 {
    overflow: hidden;
    white-space: nowrap;
}

.member-box .alert {
    margin: 5px;
}

.member-box .carousel-control {
    top: 155px;
}
.member-box .carousel-indicators {
    bottom: 0;
    top: 155px;
}

.member-box .carousel-indicators li {
    border-color: #666666;
}

.member-box .carousel-indicators .active {
    background-color: #666666;
}

.member-box .carousel-control.left {
    left: 295px;
}

blockquote.bq-small, p.p-small {
    margin: 0;
}

blockquote.bq-small {
    padding: 10px;
}

.member-thumbnail {
    padding-right: 10px;
    width: 40%;
}

.btn-column {
    width: 50px;
}

.dash .progress {
    margin: 0 20px 0 0;
}

img.lazy {
    margin-top: 20px;
    width: 170px;
    height: 90px;
}

.project-box img.lazy {
    height: 64px;
    width: 120px;
}

h4.member-name, h3.table-toggle {
    cursor: pointer;
}

.priority {
    width: 5px;
    height: 28px;
    margin: -4px 5px -4px -5px;
    float: left;
}

.priority-p1 { background-color: #a9302a; }
.priority-p2 { background-color: #f88; }
.priority-p3 { background-color: #ddd; }
.priority-p4 { background-color: #bbb; }

@media print {
    div.print-hide, div.navbar, #zend-developer-toolbar {
        display: none !important;
    }

    .badge, .label, .print-box {
        font-size: 22px !important;
        line-height: 1em !important;
    }

    a[href]:after {
        content: "" !important;
    }

    tr, .print-box {
        page-break-inside: avoid;
    }

    i[class|="icon"] {
        display: none !important;
    }

    div.print-fullwidth {
        width: 98%;
        height: 98%;
        margin: 0;
        page-break-after: always;
        page-break-inside: avoid;
    }

    body {
        padding-top: 10px;
    }
}


/* svg d3 css */
#xAxis path, #yAxis path, #xAxis line, #yAxis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #CCCCCC;
}

rect {
    fill: transparent;
}

path.red-line {
    fill: none;
    stroke: red;
    stroke-widdt: 3px;
    stroke-dasharray: 2, 2;
}

line, .medianLine {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
}

line.link {
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
}

text {
    font-size: 12px;
}

text.circle-label {
    text-anchor: middle;
}
.priority-p5 { background-color: #999; }

.diff-graph .axis path, .diff-graph .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.diff-graph .area.above {
    fill: rgb(252,141,89);
}

.diff-graph .area.below {
    fill: rgb(145,207,96);
}

.diff-graph .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}
