img {
    border: none
}

.pl10 {
    padding-left:10px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fll {
    float: left
}

.flr {
    float: right
}

.left {
    width: 150px
}

.right {
    text-align: right
}

.table th, .table td {
    vertical-align: middle !important;
}

.table th:hover {
    cursor: pointer;
}

.bugCount {
    margin: 0 0 5px
}

.toggleNav {
    margin-top: -5px !important;
}

.legend {
    margin: 0 10px;
    padding: 5px 0;
    display:none;
}

#quickList {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}

.chuck {
    z-index: -1;
}

.timeSpan {
    position: absolute;
    margin-top: -16px;
}

.timeWidth {
    overflow: visible;
    background-image: none;
    background-color: red;
    height: 3px;
    margin-top: 14px;
}

.chartContainer {
    min-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}

.loading {
    display: none;
    position: relative;
    top: -250px;
    left: 50%;
    width: 50px;
}

.input-xxxlarge {
    width: 95%;
    height: 250px;
}

.border-right {
    border-right: 1px solid grey;
}

.kanban h4, .kanban h5 {
    margin-bottom: 0;
}

.kanban div.pin {
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    float: left;
    font-size: 11px;
    height: 90px;
    margin: 5px;
    overflow: hidden;
    width: 90px;
    position: relative;
    line-height: 16px;
}

.kanban div.pin div.top, .kanban div.pin div.bottom {
    width: 100%;
    line-height: 12px;
    height: 12px;
}

.kanban div.pin div.bottom {
    position: absolute;
    bottom: 5px;
}

.kanban div.description {
    margin: 3px;
}

.kanban .theme a {
    color: white;
}

.kanban div.description a {
    color: black;
}

div.modal {
    left: 25%;
    width: 75%;
}

.largeGray {
    font-size: 40px;
    bottom: 0;
    position: absolute;
    color: #aaa;
    text-align: center;
    cursor: pointer;
}
.relative-box {
    position: relative;
    height: 90px;
}

.dash .progress {
    margin: 0 20px 0 0;
}
