<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="Flightzilla">
            <directory>./FlightzillaTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
